<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Visualization lab2 - Flight data analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style.css') }}">
</head>
<body>
<center>
    <h1>Visualization Lab 2</h1>
    <h2>Data Clustering and Dimension Reduction</h2>
</center>
<hr>
 <div class="row" >
     <div class="dropdown1">
        <select id="map1">
            <option val="Select Task">Select Task</option>
            <option val="Task 1">Task 1</option>
            <option val="Task 2">Task 2</option>
        </select>
     </div>
     <div class="dropdown2">
        <select id="map2" onchange="mapSelect()">
            <option val="Select sub-task">Select sub-task</option>
        </select>
     </div>
 </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="/static/d3-tip.js"></script>
<script>
select_category = new Array('Select sub-task');
task_category=new Array('Select sub-task', 'PCA_SCREE');
task_category_names = new Array('Select sub-task', "PCA Scree Plot");
tasks=new Array('Select sub-task', 'PCA_RANDOM_SAMPLING','PCA_ADAPTIVE_SAMPLING','MDS_EUCLIDEAN_RANDOM_SAMPLING', 'MDS_EUCLIDEAN_ADAPTIVE_SAMPLING',
    'MDS_CORRELATION_RANDOM_SAMPLING', 'MDS_CORRELATION_ADAPTIVE_SAMPLING', 'SCATTER_MATRIX_RANDOM_SAMPLING', 'SCATTER_MATRIX_ADAPTIVE_SAMPLING');
task_names=new Array('Select sub-task', 'PCA Random Sampling','PCA Adaptive Sampling','MDS Euclidean Random Sampling', 'MDS Euclidean Adaptive Sampling',
    'MDS Correlation Random Sampling', 'MDS Correlation Adaptive Sampling', 'Scatter Matrix Random Sampling', 'Scatter Matrix Adaptive Sampling');

populateSelect();

$(function() {
      $('#map1').change(function(){
        populateSelect();
    });
});

function populateSelect(){
    map1=$('#map1').val();
    console.log(map1);
    $('#map2').html('');

    if(map1=='Task 1'){
        task_category.forEach(function(t, i) {
            $('#map2').append('<option value='+t+'>'+task_category_names[i]+'</option>');
        });
    }

    if(map1=='Task 2'){
        tasks.forEach(function(t, i) {
            $('#map2').append('<option value='+t+'>'+task_names[i]+'</option>');
        });
    }

    if(map1=='Select Task'){
        select_category.forEach(function(t, i) {
            $('#map2').append('<option> '+t+'</option>');
        });
    }
}

function mapSelect() {
    console.log('mapselect')
    var dropdown = document.getElementById("map2");
    var selectedValue = dropdown.options[dropdown.selectedIndex].value;
    if(selectedValue == -1) {
        // Do nothing
    } else if(selectedValue == "PCA_RANDOM_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "PCA_ADAPTIVE_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "MDS_EUCLIDEAN_RANDOM_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "MDS_EUCLIDEAN_ADAPTIVE_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "MDS_CORRELATION_RANDOM_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "MDS_CORRELATION_ADAPTIVE_SAMPLING") {
        console.log(selectedValue)

    } else if(selectedValue == "SCATTER_MATRIX_RANDOM_SAMPLING") {
        console.log(selectedValue)
    window.open("http://127.0.0.1:5000/scatter_matrix_random");
    }else if(selectedValue == "SCATTER_MATRIX_ADAPTIVE_SAMPLING") {
        console.log(selectedValue)

    }else if(selectedValue == "PCA_SCREE") {
        console.log(selectedValue)

    }

}
</script>
</html>