<!DOCTYPE html>
<meta charset="utf-8">
<style>
svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

</style>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

var data = {{ data | safe }}
var ttl = {{ title | safe }}
var rs = {{ rs | safe }}
drawScatterPlotMatrix(data,rs.rs, ttl.title)
console.log(rs.rs)

function drawScatterPlotMatrix(jdata, rs, chart_title){
    console.log(jdata)
    var ftrNames = Object.keys(jdata);
    var width = 900,
    size = 350,
    padding = 60;

    console.log("Inside Scatter plot matrix1");
    var x = d3.scale.linear()
        .range([padding/2, size - padding/2]);

    var y = d3.scale.linear()
        .range([size - padding/2, padding/2]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(6);

    console.log("Inside Scatter plot matrix2");
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(6);

    var color = d3.scale.category10();

    data = {};
    if (!rs){
        data['clusterid'] = jdata['clusterid'];
    }
    data[ftrNames[0]] = jdata[ftrNames[0]];
    data[ftrNames[1]] = jdata[ftrNames[1]];
    data[ftrNames[2]] = jdata[ftrNames[2]];

    console.log("Inside Scatter plot matrix3");

    var domainByFtr = {},
      ftrNames = d3.keys(data).filter(function(d) { return d !== "clusterid"; }),
      n = ftrNames.length;

      xAxis.tickSize(size * n);
    yAxis.tickSize(-size * n);
    //ftrNames = d3.keys()
    ftrNames.forEach(function(ftrName) {
        domainByFtr[ftrName] = d3.extent(d3.values(data[ftrName]));
    });

    var svg = d3.select("body").append("svg")
        .attr('id', 'chart')
        .attr("width", size * n + padding)
        .attr("height", size * n + padding)
        .append("g")
        .attr("transform", "translate(" + padding + "," + padding / 2 + ")");

    svg.selectAll(".x.axis")
        .data(ftrNames)
        .enter().append("g")
        .attr("class", "x axis")
        .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
        .each(function(d) { x.domain(domainByFtr[d]); d3.select(this).call(xAxis); });

    svg.selectAll(".y.axis")
        .data(ftrNames)
        .enter().append("g")
        .attr("class", "y axis")
        .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
        .each(function(d) { y.domain(domainByFtr[d]); d3.select(this).call(yAxis); });

    svg.append("text")
        .attr("x", (width / 2.8))
        .attr("y", 0 + (5))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .style("font-weight", "bold")
        .text(chart_title);

    var cell = svg.selectAll(".cell")
        .data(cross(ftrNames, ftrNames))
        .enter().append("g")
        .attr("class", "cell")
        .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
        .each(plot);

    cell.filter(function(d) { return d.i === d.j; }).append("text")
        .attr("x", padding)
        .attr("y", padding)
        .attr("dy", ".71em")
        .text(function(d) { return d.x; });

    console.log("Inside Scatter plot matrix4");
    function plot(p) {
          var cell = d3.select(this);
          x.domain(domainByFtr[String(p.x)]);
          y.domain(domainByFtr[String(p.y)]);
          cell.append("rect")
              .attr("class", "frame")
              .attr("x", padding / 2)
              .attr("y", padding / 2)
              .attr("width", size - padding)
              .attr("height", size - padding);

          first_comp = data[String(p.x)];
          second_comp = data[String(p.y)];
          result_array = []
          second = d3.values(second_comp)
          cluster = data['clusterid']
          d3.values(first_comp).forEach(function(item, index) {
              temp_map = {};
              temp_map["x"] = item;
              temp_map["y"] = second[index];
              if (!rs){
                  temp_map["clusterid"] = cluster[index];
                }

              result_array.push(temp_map);
          });

          cell.selectAll("circle")
              .data(result_array)
              .enter().append("circle")
              .attr("cx", function(d) { return x(d.x); })
              .attr("cy", function(d) { return y(d.y); })
              .attr("r", 2)
              .style("fill", function(d) { return rs ? color("blue") : color(d.clusterid); });
    }
}
function cross(a, b) {
    var c = [], n = a.length, m = b.length, i, j;
    for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
    return c;
}


</script>
